/* universal codes */

html{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #332E30;
    position: fixed;
    width: 100%;
    z-index: 100;
}
.header img{
    position: relative;
    top: 20px;
    left: 20px;
    z-index: 101;
}

.header li{
    display: inline-block;
    padding: 0.5rem 0.8rem 0.5rem 0;
}

.header li a{
    text-decoration: none;
    color: white;
}

.header li a::after{
    content: "";
    display: block;
    height: 3px;
    background: #00998F;
    margin: auto;
    width: 0%;
    transition: 0.5s;
}

.header li a:hover::after{
    width: 100%;
}

@media screen and (max-width: 920px) {
    .header li{
        display: none;
    }
}

/* main part */

main{
    position: relative;
    top: 50px;
}

.banner{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ),
    url(../images/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.banner h1, 
.banner h2{
    color: white;
    text-align: center;
    padding: 1.5rem;
}

.banner h1{
    font-size: 3.5rem;
    color: #00998F;
}

.banner h2{
    font-size: 2rem;
}

 /* .rainbow{
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}  */

.hero-btn{
    display: block;
    background-color: #00998F;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 5px 5px 9px white;
}

.hero-btn a{
    text-decoration: none;
    color: white;    
    font-size: 1.5rem;    
}
.hero-btn:hover{
    transform: scale(1.05);
}

/* member part */

.team{
    background-color: #171717;
}

.team h2{
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
    color: #00998F;
}

.membercontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;   
}

 .info{
    display: inline-block;
}
.info h3{
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem 0;
}
.info h3 a{
    color: #0082A3;
}

.info h3 a:hover{
    color: white;
}

.info h4{
    color: white;
    padding: 1rem 0;
}
.info img{
    border-radius: 20px;
}


/* Achievements part  */

.achievements{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    height: 300px;
}

.achievements h2{
    color: #00998F;
    font-size: 2rem;
    padding: 1rem;
}

/* Highlights part  */

.highlights{
    background-color: #171717;
}

.highlights h2{
    text-align: center;
    color: #00998F;
    font-size: 2rem;
    padding: 1rem;
}

.highlights h3{
    text-align: center;
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
}

.container.highlight{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}

.container.highlight iframe{
    border-radius: 15px;
    box-shadow: 5px 5px 9px antiquewhite ;
}

@media screen and (max-width:1200px) {
    .container.highlight,
    .container.sponsor{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    } 
    iframe{
        width: 100%;
        
    }
}

@media screen and (max-width:431px) {
    .membercontainer{
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
}


/* Sponsors part */

.sponsors h2{
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    color: #00998F;
}

.container.sponsor{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}

.containerbutton{
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    margin: 0.1rem;
    
}

.containerbutton .hero-btn{
    box-shadow: 5px 5px 9px black;
}

/* footer part  */

.footer{
    display: flex;
    align-items: center;
    height: 100px;
    background-color: #332E30;
}

.footer h5{
    color: white;
    padding-left: 1rem;
}
